<h1>ToDos</h1>

<%= button_to "Add ToDo", new_todo_path, method: "get", id: "add" %>

<table>
  <thead>
    <tr>
      <th>Task</th><th>Deadline</th><th>Completed</th>
    </tr>
  </thead>
  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td class="task"><%= link_to todo.task, todo_path(id: todo.id) %></td>
          <td class="deadline <%= "highlight" if todo.deadline < Date.current %>">
            <%= todo.deadline %>
          </td>
        <td><%= check_box_tag("todo", "completed", checked = todo.completed, class: "completed", id: "checkbox-#{todo.id}")%></td>
        <td><%= button_to "Delete", todo_path(id: todo.id), method: "delete" %></td>
      </tr>
    <% end %>
  <tbody>
</table>
