<p><%= button_to "ToDos List", todos_path, method: "get" %></p>

<h1>Create a New ToDo</h1>

<% @todo.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<table>
  <%= form_for @todo do |f| %>
    <%= f.label :task %>:
    <%= f.text_field :task %><br/>

    <%= f.label :deadline %>:
    <%= f.text_field :deadline, value: 'mm-dd-yyyy' %><br/>

    <%= f.label :completed %>:
    <%= f.check_box(:completed) %><br/>

    <%= f.label :more_details %>:
    <%= f.text_area :more_details, size: "60x12" %><br/>

    <%= f.submit 'Add to List' %>
  <% end %>
</table>
