<p><%= button_to "ToDos List", todos_path, method: "get", class: "return" %></p>

<h1>Create a New ToDo</h1>

<% @todo.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<table id="new">
  <%= form_for @todo do |f| %>
    <tbody>
      <tr>
        <td id="create-task">
          <%= f.label :task %>: <br/> <br/>
          <%= f.text_field :task, size: "60x1" %><br/>
        </td>

        <td>
          <%= f.label :deadline %>: <br/> <br/>
          <%= f.text_field :deadline, value: 'mm-dd-yyyy' %><br/>
        </td>

        <td>
          <%= f.label :completed %>: <br/> <br/>
          <%= f.check_box :completed %><br/>
        </td>
      </tr>

      <tr>
        <td id="details">
          <%= f.label :more_details %>: <br/><br/>
          <%= f.text_area :more_details, size: "60x12" %><br/>
        </td>
      </tr>

      <tr>
        <td>
          <%= f.submit 'Add to List' %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
