<p><%= button_to "ToDos List", todos_path, method: "get" %></p>

<h1><%= @todo.task %></h1>

<p>
  Deadline: <%= @todo.deadline %>
</p>

<p>
  Completed: <%= check_box_tag("todo", "completed", checked = @todo.completed, id: "completed")%>
</p>

<p><%= @todo.more_details %></p>
