<p><%= button_to "ToDos List", todos_path, method: "get", class: "return" %></p>

<h2><%= @todo.task %> <%= button_to "Duplicate", edit_todo_path(id: @todo.id), method: "get" %> </h2>
<%# byebug %>
<table>
  <tr>
    <td class="show <%= "highlight" if @todo.deadline < Date.current %>">
      Deadline: <%= @todo.deadline %>
    </td>
    <td class="show">Completed: <%= check_box_tag("todo", "completed", checked = @todo.completed, id: "completed")%></td>
    <td class="show"><%= button_to "Delete", todo_path(id: @todo.id), method: "delete" %></td>
  </tr>
  <tr>
    <td id="details" class="show">
      <%= @todo.more_details %>
    </td>
  </tr>
</table>
